<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav1" routerLink="/noticia-detalle">
  <ion-card color="yav2">

    <ion-item color="yav2">
      <h2>Nuevas formas de Reciclar</h2>
      <br>
    </ion-item>
    <img src="assets/img/Reciclaje1.png">
    <ion-card-content>
      <p>Existen nuevas formas de reciclar....</p>
    </ion-card-content>
  </ion-card>

</ion-content>