<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav1" routerLink="/evento-detalle">
  <ion-card color="yav3">

    <ion-item color="yav3">
      <h2>Evento 1</h2>
      <br>
    </ion-item>
  
    <img src="assets/img/Reciclaje1.png">
  
    <ion-card-content>
      <p>Enero 12, 2020</p>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small routerLink="/evento-detalle">
          <ion-icon name="arrow-up"></ion-icon>
          <div>100 puntos</div>
        </button>
      </ion-col>
    </ion-row>  
  </ion-card>
</ion-content>