<ion-header>
  <ion-toolbar>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <h2>Evento 1</h2>
      <br>
    </ion-item>
  
    <img src="assets/img/Reciclaje1.png">
  
    <ion-card-content>
      <p>Enero 12, 2020</p>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>100 puntos</div>
        </button>
      </ion-col>
    </ion-row>  
  </ion-card>

  <ion-card>

    <ion-item>
      <h2>Evento 2</h2>
      <br>
    </ion-item>
  
    <img src="assets/img/Reciclaje1.png">
  
    <ion-card-content>
      <p>Enero 15, 2020</p>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>100 puntos</div>
        </button>
      </ion-col>
    </ion-row>  
  </ion-card>

  <ion-card>

    <ion-item>
      <h2>Evento 3</h2>
      <br>
    </ion-item>
  
    <img src="assets/img/Reciclaje1.png">
  
    <ion-card-content>
      <p>Enero 18, 2020</p>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="arrow-up"></ion-icon>
          <div>100 puntos</div>
        </button>
      </ion-col>
    </ion-row>  
  </ion-card>





</ion-content>
