<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav1" routerLink="/evento-detalle">
  <ion-card color="yav3" *ngFor="let item of eventos">

    <ion-item color="yav3">
      <h4>{{item.nombre_evento}}</h4>
      <br>
    </ion-item>

    <img src="assets/img/ecologia-social.jpg">

    <ion-card-content>
      <p class="card-text text-justify" style="color: white;">Objetivo: {{item.objetivo_evento}}<br /> Este: {{item.fecha_evento}}
        <br />Lugar: {{item.lugar_evento}}</p>
    </ion-card-content>

    <ion-button color="yav1">
      <ion-icon name="arrow-up"></ion-icon>100 puntos
    </ion-button >
  </ion-card>
</ion-content>