<ion-header>
  <ion-toolbar color="yav1">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col>
        <img src="../../assets/img/gestionambiental_principal.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slide>
    <div class="contaier-login" color="yav2">
      <ion-grid >
        <ion-row>
          <ion-col>
            <h2>Registro</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list style="background-color: #504B50;">
              <ion-item color="yav2">
                <ion-icon name="person" class="icon-login"></ion-icon>
                <ion-input name="user" type="text" required placeholder="Nombre" [(ngModel)]="personas.nombre_persona" name="nombre_persona"></ion-input>
              </ion-item>
              <br/>
              <ion-item color="yav2">
                <ion-icon name="person" class="icon-login"></ion-icon>
                <ion-input name="user" type="text" required placeholder="Apellido" [(ngModel)]="personas.apellido_persona" name="apellido_persona"></ion-input>
              </ion-item>
              <br/>
              <ion-item color="yav2">
                <ion-icon name="mail" class="icon-login"></ion-icon>
                <ion-input name="user" type="text" required placeholder="Correo Electronico" [(ngModel)]="personas.correo_persona" name="correo_persona"></ion-input>
              </ion-item>
              <br/>
              
              <ion-item color="yav2">
                <ion-icon name="lock" class="icon-login"></ion-icon>
                <ion-input name="password" type="password" required placeholder="Contraseña" [(ngModel)]="personas.password_persona" name="password_persona"></ion-input>
              </ion-item>
              <br/><!--
              <ion-item color="yav2">
                <ion-icon name="lock" class="icon-login"></ion-icon>
                <ion-input name="password" type="password" required placeholder="Repetir Contraseña"></ion-input>
              </ion-item>-->

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" fill="solid" expand="full" (click)="guardarPersona()">
              Registrarse
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <a tappable color="primary" routerLink="/login" >Regresar</a>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid >
    </div>
  </ion-slide>