<div class="col-12 order-md-1">
    <div class="jumbotron">
        <h1 class="mb-3">Creación de noticia</h1>
        <form class="form-signin">
            <label for="titulo">Título</label>
            <input type="text" class="form-control col-6" placeholder="Título de la noticia" value="" required>
            <br />
            <textarea class="col-6" placeholder="Cuerpo de la Noticia" cols="40" rows="8" style="resize: both;"></textarea>
            <p></p>
        </form>
        <div class="row col-6">
            <div class="col">
                <button class="btn btn-lg btn-outline-secondary btn-sm" style="background-color: #B8CD33;"
                    type="submit">Crear Noticia</button>
                <button class="btn btn-outline-white btn-sm" disabled></button>
                <button class="btn btn-lg btn-outline-dark btn-sm" style="background-color: #F54A4B;"
                    type="submit">Cancelar</button>
            </div>
        </div>
        <br />
    </div>
</div>