#C {
  background-color: #3f3f3f;
  color: white;
  height: 100%;
}
#c1 {
  margin-left: 15px;
  margin-right: 15px;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
