#C {
  background-color: #3f3f3f;
  color: white;
  height: 100%;
}
#c1 {
  margin-left: 15px;
  margin-right: 15px;
}
#c2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 30px;
}
