<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="C">
    <br />
    <img id="img" src="../../assets/icon/favicon.png">
    <p></p>
      <div style="text-align: center; color: #B8CD33;">
        <h1>Puntos:</h1>
        <p></p>
        <h3>100</h3>
      </div> 
    <br />
    <ion-item id="c1" color="yav2">
      <ion-label>Nombre: Usuario Admin</ion-label>
    </ion-item>
    <br />
    <ion-item id="c1" color="yav2">
      <ion-label>Correo: test@gmail.com</ion-label>
    </ion-item>
    <br />
  </div>
</ion-content>