<div class="text-center">
    <div class="row">
        <div class="col-8"><img id="img" src="../../assets/img/gestionambiental_principal.jpg"
                class="img-fluid rounded mx-auto d-block" alt="Responsive image" width="auto" height="800"></div>
        <div class="card col-4 mb-3" style="border-color: #B8CD33; background-color: #3F3F3F;">
            <div class="card-body">
                <form class="form-signin">
                    <br><br><br>
                    <h1 class="h3 mb-3 font-weight-normal" style="color: #B8CD33;">Login</h1>
                    <label for="inputCorreo" class="sr-only">Correo electronico</label>
                    <input type="email" id="inputCorreo" class="form-control" placeholder="Correo electrónico" required
                        autofocus>
                    <br />
                    <label for="inputContrasena" class="sr-only">Contraseña</label>
                    <input type="password" id="inputContrasena" class="form-control" placeholder="Contraseña" required>
                    <br />
                    <button class="btn btn-lg btn-outline-secondary btn-block" style="background-color: #B8CD33;"
                        type="submit">Inicar Sesiòn</button>
                    <p class="mt-5 mb-3 text-muted">Yavirac &copy;</p>
                </form>
            </div>
        </div>
    </div>
</div>