<footer class="footer-distributed">

    <div class="footer-right">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCez91Dz7oFrWrApbBCccZag/videos"><i class="fab fa-youtube"></i></a>
        <a href="https://github.com/BX41FORCE/YavGren-Proyecto-5-Semestre.git"><i class="fab fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            Proyecto Integrador 5º Desarrollo de Software "A"<br />
        </p>
        <p>Creado por: Francisco Borja, Diego encalada, Bryan Cortez</p>
        <p>Instituto Tecnológico Superior "Benito Juarez" &copy; 2019</p>
    </div>

</footer>