nav {
  color: black;
  background-color: #3f3f3f;
  /*"#7BDB52" verde claro*/
}

a {
  color: white;
}

#yavLogo :hover {
  background-color: #20534F;
  color: #3f3f3f;
  border-radius: 6px;
}

#yav :hover {
  background-color: #b8cd33;
  color: #20534F;
  border-radius: 6px;
}
