<nav class="navbar navbar-expand-lg">
    <a id="yavLogo" class="navbar-brand" [routerLink]="['inicio']"><img id="modalImg" src="../../assets/img/YavGreen.png"
            height="30px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="yav" class="nav-item active">
                <a class="nav-link" [routerLink]="['registro']">Registrate! <span class="sr-only">(current)</span></a>
            </li>
            <li id="yav" class="nav-item active">
                <a class="nav-link" [routerLink]="['crear_noticia']">Crear Noticia <span
                        class="sr-only">(current)</span></a>
            </li>
            <li id="yav" class="nav-item active">
                <a class="nav-link" [routerLink]="['crear_evento']">Crear Evento <span
                        class="sr-only">(current)</span></a>
            </li>
            <li id="yav" class="nav-item active">
                <a class="nav-link" [routerLink]="['test']">TEST<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>