<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav2">
  <div id="c" style="text-align: justify;" *ngFor="let item of noticias">
    <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: #B8CD33;">
      {{item.nombre_noticia}}</h5>
    <img id="modalImg" src="../../assets/img/gestionambiental_principal.jpg" />
    <p> {{item.descripcion_noticia}}</p>
    <br />
    <p></p>
    <ion-button color="yav3" routerLink="/noticia">
      Regresar
    </ion-button>
  </div>
</ion-content>