<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav2">
  <div id="c" style="text-align: justify;">
    <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: #B8CD33;">
      Nueva forma de reciclaje inteligente</h5>
    <img id="modalImg" src="../../assets/img/gestionambiental_principal.jpg" />
    <p> Existen formas sencillas y a la vez creativas e innovadoras de cuidar el planeta; acciones que cualquiera de
      nosotros puede ejecutar en casa de manera que aportemos un grano de arena en la conservación del lugar donde
      vivimos. Hablamos del reciclaje, pero no del conocido proceso de reutilizar el papel, sino de otros materiales
      que quizá ya pensabas desechar.

      Botellas de plástico, puertas viejas, tarjetas de crédito, utensilios de cocina y otras cosas más que estén en
      desuso bien pueden ser transformadas en artículos para decorar el hogar o la oficina. Es una manera bastante
      viable de darles una segunda vida a esos objetos y evitar contaminar aún más el planeta.</p>
    <br />
    <p></p>
    <ion-button color="yav3" routerLink="/noticia">
      Regresar
    </ion-button>
  </div>
</ion-content>