<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav2">
  <div id="c" style="text-align: justify;">
    <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: #B8CD33;">
      Evento de Plantación de Arboles</h5>
    <img id="modalImg" src="../../assets/img/ecologia-social.jpg" />
    <p>Lugar del evento: </p>
    <p>Fecha del evento: </p>
    <p>Objetivo:<br/> Se llevará a cabo la plantación de 30 árboles a los alrededores del Instituto. <br/> Traer 10 fundas de Basura</p>
    <br />
    <ion-button color="yav1" routerLink="/lector-qr">
      <ion-icon name="arrow-up"></ion-icon>
      <div>Ganar Los 100 Puntos</div>
    </ion-button>
    <ion-button color="yav3" routerLink="/evento">
      Regresar
    </ion-button>
  </div>
</ion-content>