#c {
    margin-left: 15px;
    margin-right: 15px;
}
#modalImg {
    width: auto;
    height: 150px;
    border-radius: 6px;
}

#eventoImg {
    width: 200px;
    height: 130px;
    border-radius: 6px;
}