<ion-header>
  <ion-toolbar color="yav1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="yav2">
  <div id="c" style="text-align: justify;" *ngFor="let item of eventos">
    <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: #B8CD33;">
      {{item.nombre_evento}}</h5>
    <img id="modalImg" src="../../assets/img/ecologia-social.jpg" />
    <p>Lugar del evento: {{item.lugar_evento}}</p>
    <p>Fecha del evento: {{item.fecha_evento|date:"dd/MM/yyyy"}}</p>
    <p>Objetivo:<br/> {{item.objetivo_evento}}</p>
    <br />
    <ion-button color="yav1" routerLink="/persona">
      <ion-icon name="arrow-up"></ion-icon>
      <div>Ganar Los {{item.puntaje_evento}} Puntos</div>
    </ion-button>
    <ion-button color="yav3" routerLink="/evento">
      Regresar
    </ion-button>
  </div>
</ion-content>